html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
    padding: 0;
    margin: 0;
}
:root {
    --DarkBlue: hsl(223, 47%, 23%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --BrightBlue: hsl(245, 75%, 52%);
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/pattern-background-desktop.svg);
    background-repeat: no-repeat; 
}

@media (max-width: 375px) {
    .card-container {
        background-image: url(../Images/pattern-background-mobile.svg);
    }
}

.card {
    width: 330px;
    height: 510px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    box-shadow: 0 30px 59px -9px #c6d3f6;
    overflow: hidden;
}

.image {
    width: 100%;
}
.container {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    margin-top: 15px;
    padding: 20px;
}
h1 {
    color: var(--DarkBlue);
    font-weight: 900;
}
.container p {
    margin-top: 17px;
    color: var(--DesaturatedBlue);
    font-size: 14px;
    font-weight: 500;
}
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    font-size: 14px;
}
.icon-music {
    width: 43px;
    height: 43px;
    margin-right: 15px;
}
.plan-container {
    display: flex;
    flex-direction: column;
    gap:4px;
    margin-right: 60px;
}
.annual-plan {
    color: var(--DarkBlue);
    font-weight: 900;
}
.cost-plan {
    color: var(--DesaturatedBlue);
}
.change {
    color: var(--BrightBlue);
    text-decoration:underline;
    font-weight: 700;
}
.payment-btn {
    color: white;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--BrightBlue);
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin-top: 35px;
    margin-bottom: 15px;
}
.cancel-order {
    font-weight: 900;
    font-size: 13px;
    color: var(--DesaturatedBlue);
}
.change:hover {
    text-decoration: none;
    opacity: 0.75;
    cursor: pointer;
}
.payment-btn:hover {
    opacity: 0.75;
    cursor: pointer;
}
.cancel-order:hover {
    color: var(--DarkBlue);
    cursor: pointer;
}